body{width:100%;height:70%;overflow:hidden;background:#666666;margin: 0px;}
/* #hlsStreamSection{background:#eee;width:100%;height:100%;overflow:hidden;} */
/* #hlsStreamSection{background:#eee;} */
#hlsStreamSection span{font-size:20px;color:#666;display:block;padding:2em;position:relative;}
video{width:100%;height:84vh;left:0;position:relative;margin-top: -23px;}
#controls{position:relative;}
/* #controls{position:relative;width:400px;bottom:0px;left:50%;transform:translateX(-50%)} */
#change{display: flex;flex-direction: row;justify-content: center;top: 0px;
    position: relative;}
/* #change{font-size: 150%;text-align: center;padding: 5px;margin: 5px;} */
button{font-size: 150%;text-align: center;display: block;padding: 5px;margin: 5px;}
#change button{width:60px;padding: 0px 10px 0px 5px;}
/* #change button{width: 60px;min-width: 50px;} */
/* #hlsStreamSection {
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	justify-content: center;
	text-align: center;
	align-items: center;
	flex-direction: column;
} */
.text-center {
    font-weight: bold;
    margin-top: 20%;
	text-align: center;
	color: white;
    font-family: ProximaNova-Regular, sans-serif;
}

.liveview_col.text-center a {
    position: relative;
}


a {
    color: #16adf2;
    text-decoration: none;
    font-family: ProximaNova-Regular, sans-serif;
}
@media screen and (max-width: 480px) {
   #controls {
		visibility: hidden;
   }
}

/* orientation : landscape */

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape) {
	#controls {
		visibility: hidden;
	}
}

/* @media (orientation:landscape) and (max-width: 767px){ */
/*@media only screen and (max-width : 465px) and (orientation: landscape) {
	#controls {
		visibility: hidden;
	}
}*/

/* @media only screen 
   and (min-width : 321px) {
	#change button {
		width: 30px;
		min-width: 34px;
	}
	button {
		font-size: 90%;
		text-align: center;
		padding: 5px;
		margin: 2px;
	}
} */
/* @media screen and (min-height: 1000px) {
	#change {
		margin-top: 44%;
	}
} */
/* @media screen and (max-width: 1920px) {
	#change {
		margin-top: 44%;
	}
	
 } */